<h2><%= @customer.name %>のページ</h2>

<h2 class="my-3">登録情報</h2>

<%= image_tag @customer.get_profile_image, size: '100x100' %>
<table>
  <tr>
    <th>ニックネーム</th>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= @customer.introduction %></td>
  </tr>
  <% if current_customer == @customer %>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <td><%= link_to "メッセージルーム一覧", public_talk_rooms_path %></td>
    </tr>
  <% else %>
    <tr>
      <% if current_customer.already_messaged_with?(@customer)%>
        <td><%= link_to "メッセージルームへ",  talk_rooms_path(@customer.id) %></td>
      <% else %>
        <td><%= link_to "メッセージを始める", new_talk_rooms_path(@customer.id) %></td>
      <%end %>
    </tr>
  <% end %>
</table>
<% if current_customer == @customer %>
  <% if @customer.email != Customer::GUEST_USER_EMAIL %>
    <%= link_to "編集", edit_public_customer_path(@customer), class: "btn btn-success" %>
  <% else %>
    <button type="button" class="btn btn-secondary">編集</button>
  <% end %>
<% end %>
<h2>投稿一覧</h2>
<%= render 'public/cards/index', cards: @customer.cards %>
