<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-white p-4 rounded" style="background-color: #A9A9A9;">

        <div class="row">
          <div class="col-3">
            <%= image_tag @customer.get_profile_image, size: '100x100', class: "rounded-circle mx-auto d-block mb-3" %>
            <h3 class="text-center mb-4"><%= @customer.name %></h3>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12">
              <% if current_customer == @customer %>
                <div class="float-right" id="botton_menu">
                  <button type="button" class="btn btn-outline-secondary ml-1 active" id="post_cards">投稿一覧</button>
                   <button type="button" class="btn btn-outline-secondary ml-1" id="favorite_cards">いいね</button>
                  <%= link_to "トークルーム一覧", public_talk_rooms_path, class: "btn btn-outline-secondary" %>
                  <% if @customer.email != Customer::GUEST_USER_EMAIL %>
                    <%= link_to edit_public_customer_path(@customer), class: "btn btn-outline-secondary ml-2", data: { "turbolinks" => false } do %>
                      <i class="fa-solid fa-gear"></i>
                    <% end %>
                  <% else %>
                    <button type="button" class="btn btn-secondary ml-2"><i class="fa-solid fa-gear"></i></button>
                  <% end %>
                </div>
              <% else %>
                <div class="float-right">
                  <% if current_customer.already_messaged_with?(@customer) %>
                    <%= link_to "トークルームへ", talk_rooms_path(current_customer.my_talk_room(@customer).id, against_customer_id: @customer.id), class: "btn btn-secondary", data: { "turbolinks" => false } %>
                  <% else %>
                    <%= link_to "トークを始める", new_talk_rooms_path(@customer.id), class: "btn btn-secondary", data: { "turbolinks" => false } %>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>

            <div class="row mt-2">
              <h5>自己紹介</h5>
              <p style="overflow-wrap: anywhere;"><%= @customer.introduction %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cards_contents">
  <div class="tab" id="post_cards_contents">
  <div class="row m-1">
    <h2>投稿一覧</h2>
  </div>
  <%= render 'public/cards/index', cards: @customer.cards %>
  </div>

<div class="tab" id="favorite_cards_contents">
  <div class="row m-1">
    <h2>いいね一覧</h2>
  </div>
  <%= render 'public/cards/index', cards: @favorite_cards %>
</div>
</div>


<script>
  $(document).ready(function() {
    // 初期表示は投稿一覧を表示する
    $('#favorite_cards_contents').hide();

    // 「投稿一覧」ボタンがクリックされた時の処理
    $('#post_cards').click(function() {
      // すべてのタブを非表示に
      $('.tab').hide();
      // 「投稿一覧」タブを表示
      $('#post_cards_contents').show(); // 投稿一覧のコンテンツを表示
      // ボタンのアクティブ状態を設定
      $('#botton_menu button').removeClass('active');
      $(this).addClass('active');
    });

    // 「いいね」ボタンがクリックされた時の処理
    $('#favorite_cards').click(function() {
      // すべてのタブを非表示に
      $('.tab').hide();
      // 「いいね一覧」タブを表示
      $('#favorite_cards_contents').show(); // いいね一覧のコンテンツを表示
      // ボタンのアクティブ状態を設定
      $('#botton_menu button').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>