<h2><%= @customer.name %>のページ</h2>

<h2 class="my-3">登録情報</h2>

<%= image_tag @customer.get_profile_image, size: '100x100' %>
<table>
  <tr>
     <th>ニックネーム</th>
     <td><%= @customer.name %></td>
  </tr>
  <tr>
     <th>自己紹介</th>
     <td><%= @customer.introduction %></td>
  </tr>
<% if current_customer == @customer %>
  <tr>
     <th>メールアドレス</th>
     <td><%= @customer.email %></td>
  </tr>
  <tr>
    <td>DM</td>
  </tr>
<% end %>
</table>
<% if current_customer == @customer %>
<%= link_to "編集する", edit_public_customer_path(@customer), class: "btn btn-success" %>
<% end %>
<h2>投稿一覧</h2>
<%= render 'public/cards/index', cards: @customer.cards %>
