<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-white p-4 rounded" style="background-color: #A9A9A9;">

        <div class="row">
          <div class="col-3">
            <%= image_tag @customer.get_profile_image, size: '100x100', class: "rounded-circle mx-auto d-block mb-3" %>
            <h3 class="text-center mb-4"><%= @customer.name %></h3>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12">
              <% if current_customer == @customer %>
                <div class="float-right" id="botton_menu">
                  <button type="button" class="btn btn-outline-secondary ml-1 active" id="post_cards">投稿一覧</button>
                   <button type="button" class="btn btn-outline-secondary ml-1" id="favorite_cards">いいね</button>
                  <%= link_to "トークルーム一覧", public_talk_rooms_path, class: "btn btn-outline-secondary" %>
                  <% if @customer.email != Customer::GUEST_USER_EMAIL %>
                    <%= link_to edit_public_customer_path(@customer), class: "btn btn-outline-secondary ml-2", data: { "turbolinks" => false } do %>
                      <i class="fa-solid fa-gear"></i>
                    <% end %>
                  <% else %>
                    <button type="button" class="btn btn-secondary ml-2"><i class="fa-solid fa-gear"></i></button>
                  <% end %>
                </div>
              <% else %>
                <div class="float-right">
                  <% if current_customer.already_messaged_with?(@customer) %>
                    <%= link_to "トークルームへ", talk_rooms_path(current_customer.my_talk_room(@customer).id, against_customer_id: @customer.id), class: "btn btn-secondary", data: { "turbolinks" => false } %>
                  <% else %>
                    <%= link_to "トークを始める", new_talk_rooms_path(@customer.id), class: "btn btn-secondary", data: { "turbolinks" => false } %>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>

            <div class="row mt-2">
              <h5>自己紹介</h5>
              <p style="overflow-wrap: anywhere;"><%= @customer.introduction %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cards_contents">
  <div class="row m-1 tab" id="post_cards">
    <h2>投稿一覧</h2>
  </div>
  <%= render 'public/cards/index', cards: @customer.cards %>



  <div class="row m-1 tab" id="favorite_cards">
    <h2>いいね一覧</h2>
  </div>
  <%= render 'public/cards/index', cards: @favorite_cards %>
</div>

<style>
  $('#cards_contents .tab[id != "post_cards"]').hide();

$('#botton_menu botton').on('click', function(event) {
  $("#cards_contents .tab").hide();
  $("#botton_menu .active").removeClass("active");
  $(this).addClass("active");
  $($(this).attr("href")).show();
  event.preventDefault();
});
</style>