<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-header text-white" style="background-color: #A9A9A9;">
          <h2 class="card-title mb-0">お問い合わせ対応</h2>
        </div>
        <% if @contact.errors.any? %>
          <div class="alert alert-danger">
            <strong><%= @contact.errors.count %>件のエラーが発生しました</strong>
          </div>
        <% end %>
        <div class="card-body">
          <%= form_with(model: @contact, url: confirm_public_contacts_path(@contact), method: :post, class: 'needs-validation' ) do |form| %>

            <div class="mb-3">
              <label class="form-label"><strong>【件名】</strong></label>
              <%= form.text_field :title, class: 'form-control' %>
                <% if @contact.errors.include?(:title) %>
                  <p style="color: red;"><%= @contact.errors.full_messages_for(:title).first %></p>
                <% end %>
            </div>

            <div class="mb-3">
              <label class="form-label"><strong>【内容】</strong></label>
              <%= form.text_area :message, class: 'form-control', rows: 5 %>
                <% if @contact.errors.include?(:message) %>
                  <p style="color: red;"><%= @contact.errors.full_messages_for(:message).first %></p>
                <% end %>
            </div>

            <div class="text-center">
              <%= form.submit "確認", class: 'btn btn-outline-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
