<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="mt-3 mb-3 text-center">会員情報編集</h3>

          <%= form_with(model: @customer, url: admin_customer_path(@customer), local: true, html: {class: "form"}) do |form| %>
            <%= render "public/shared/error_messages", resource: @customer %>

            <div class="form-group">
              <table class="table table-borderless">
                <tr>
                  <th class="col-md-4">会員ID</th>
                  <td><%= @customer.id %></td>
                </tr>
                <tr>
                  <th class="col-md-4">ニックネーム</th>
                  <td><%= form.text_field :name, class: 'form-control'%></td>
                </tr>
                <tr>
                  <th class="col-md-4">メールアドレス</th>
                  <td><%= form.text_field :email, class: 'form-control' %></td>
                </tr>
                <tr>
                  <th class="col-md-4">会員ステータス</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_active, true, id: "customer_is_active_true", class: 'form-check-input' %>
                      <%= form.label :is_active, "有効", value: true, for: "customer_is_active_true", class: 'form-check-label' %>
                    </div>
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_active, false, id: "customer_is_active_false", class: 'form-check-input' %>
                      <%= form.label :is_active, "退会", value: false, for: "customer_is_active_false", class: 'form-check-label' %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="text-center">
              <%= form.submit "変更を保存", class: "btn btn-outline-secondary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
