<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="mt-3 mb-3 text-center"><strong><%= @customer.name %></strong> さんの会員詳細</h3>
          <table class="table table-borderless">
            <tr>
              <th class="nowrap">会員ID</th>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <th class="nowrap">ニックネーム</th>
              <td><%= "#{@customer.name}" %></td>
            </tr>
            <tr>
              <th class="nowrap">メールアドレス</th>
              <td><%= @customer.email %></td>
            </tr>
            <tr>
              <th class="nowrap">会員ステータス</th>
              <td>
                <% if @customer.is_active %>
                  <span class='text-success'>有効</span>
                <% else %>
                  <span class='text-secondary'>退会</span>
                <% end %>
              </td>
            </tr>
          </table>
          <%= link_to '編集する', edit_admin_customer_path(@customer.id), class: "btn btn-outline-secondary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
