<%= link_to "トークルーム一覧", public_talk_rooms_path %>

<h2><%= @against_customer.name %> とのDM</h2>


<div id="messages">
  <% @talk_room.talk_room_messages.each do |message| %>
    <div>
      <strong><%= message.customer.name %>:</strong>
      <%= message.message %>
    </div>
  <% end %>
</div>



<%= form_with(url: public_talk_room_talk_room_messages_path(@talk_room), local: true) do |form| %>
  <div>
    <%= form.text_area 'talk_room_message[message]', placeholder: "メッセージを入力してください" %>
  </div>
  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>
