<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-8">
      <div class="row justify-content-between">
        <div class="col-5">
          <h3><%= @against_customer.name %> とのDM</h3>
        </div>
        <div class="col-2 text-right">
          <%= link_to "戻る", public_talk_rooms_path, class: 'btn btn-outline-secondary mb-3' %>
        </div>
      </div>

      <div id="messages">
        <% @talk_room.talk_room_messages.each do |message| %>
          <% if message.is_active %>
            <div class="media mb-3">
              <div class="media-body" >
                <div class="bg-light p-3 rounded">
                  <div class="d-flex align-items-center">
                    <strong><%= message.customer.name %></strong>
                    <span class="ml-2 text-muted small"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                  </div>
                  <div>
                    <%= message.message %>
                  </div>
                  <% if message.customer == current_customer %>
                    <%= form_with(model: message, url: public_talk_room_talk_room_message_path(talk_room_id: @talk_room.id, id: message.id), local: true, class: "d-flex justify-content-around") do |form| %>
                      <div class="mt-3">
                        <%= form.radio_button :is_active, true, class: 'form-check-input', id: 'active' %> 有効
                      </div>
                      <div class="mt-3">
                        <%= form.radio_button :is_active, false, class: 'form-check-input', id: 'inactive' %> 無効
                      </div>
                      <div class="mt-3">
                        <%= form.submit "変更", class: 'btn btn-outline-secondary btn-sm', style: "font-size: 13px;" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="mb-5">
          <p>　</p>
        </div>
      </div>

      <div class="row">
        <div class="col-5 offset-3 fixed-bottom">
          <%= form_with(model: [@talk_room, @talk_room.talk_room_messages.build], url: public_talk_room_talk_room_messages_path(@talk_room), local: true, html: { class: "mb-3" }) do |form| %>
            <div class="input-group">
              <%= form.text_area :message, placeholder: "メッセージを入力してください", class: "form-control" %>
              <div class="input-group-append">
                <%= form.submit "送信", class: "btn btn-outline-secondary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
