<%= link_to "トークルーム一覧", public_talk_rooms_path %>

<h2><%= @against_customer.name %> とのDM</h2>

<div id="messages">
  <% @talk_room.talk_room_messages.each do |message| %>
  <% if message.is_active %>
    <div class="row">
    <div class="col-1">
      <strong><%= message.customer.name %>:</strong>
    </div>
    <div class=col-4>
      <%= message.message %>
    </div>
    <div class="col-2">
      <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
    <div class="col-5">
      <div class="row">
      <%= form_with(model: message, url: public_talk_room_talk_room_message_path(talk_room_id: @talk_room.id, id: message.id), local: true) do |form| %>
          <%= form.radio_button :is_active, true, class: 'form-check-input', id: 'active' %> 有効

          <%= form.radio_button :is_active, false, class: 'form-check-input', id: 'inactive' %> 無効

          <%= form.submit "変更", class: 'btn btn-outline-secondary btn-sm', style: "font-size: 13px;" %>
        </div>
      <% end %>
    </div>
    </div>
    <% end %>
  <% end %>
</div>

<%= form_with(model: [@talk_room, @talk_room.talk_room_messages.build], url: public_talk_room_talk_room_messages_path(@talk_room), local: true) do |form| %>
  <div>
    <%= form.text_area :message, placeholder: "メッセージを入力してください" %>
  </div>
  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>
