<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-8">
      <div class="row justify-content-between">
        <div class="col-10">
        <h3>
            <%= link_to admin_customer_path(@talk_room.sender.id),class: "text-dark" do %>
              <%= @talk_room.sender.name %>
            <% end %>
            と
            <%= link_to admin_customer_path(@talk_room.recipient.id),class: "text-dark" do %>
              <%= @talk_room.recipient.name %>
            <% end %>
            のDM
          </h3>
        </div>
        <div class="col-2 text-right">
          <%= link_to "戻る", admin_talk_rooms_path, class: 'btn btn-outline-secondary mb-3' %>
        </div>
      </div>
      <div id="messages">
        <% @talk_room.talk_room_messages.each do |message| %>
            <div class="media mb-3">
              <div class="media-body">
                <div class="bg-light p-3 rounded">
                  <div class="d-flex align-items-center">
                    <strong><%= message.customer.name %></strong>
                    <span class="ml-2 text-muted small"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                  </div>
                  <div>
                    <%= message.message %>
                  </div>
                    <%= form_with(model: message, url: admin_talk_room_talk_room_message_path(talk_room_id: @talk_room.id, id: message.id), local: true, class: "d-flex justify-content-around") do |form| %>
                      <div class="mt-3">
                        <%= form.radio_button :is_active, true, class: 'form-check-input', id: 'active' %> 有効
                      </div>
                      <div class="mt-3">
                        <%= form.radio_button :is_active, false, class: 'form-check-input', id: 'inactive' %> 無効
                      </div>
                      <div class="mt-3">
                        <%= form.submit "変更", class: 'btn btn-outline-secondary btn-sm', style: "font-size: 13px;" %>
                      </div>
                    <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>