<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-header text-white" style="background-color: #A9A9A9;">
          <h5 class="card-title mb-0">お問い合わせ対応</h2>
        </div>
        <% if @contact.errors.any? %>
          <div class="alert alert-danger">
            <strong><%= @contact.errors.count %>件のエラーが発生しました</strong>
          </div>
        <% end %>
        <div class="card-body">
          <%= form_with(model: @contact, url: admin_contact_path(@contact), method: :patch, class: 'needs-validation') do |form| %>
            <div class="mb-3">
              <label class="form-label"><strong>【件名】</strong></label>
              <%= form.text_field :title, class: 'form-control' %>
                <% if @contact.errors.include?(:title) %>
                  <p style="color: red;"><%= @contact.errors.full_messages_for(:title).first %></p>
                <% end %>
            </div>

            <div class="mb-3">
              <label class="form-label"><strong>【内容】</strong></label>
              <%= form.text_area :message, class: 'form-control', rows: 5 %>
                <% if @contact.errors.include?(:message) %>
                  <p style="color: red;"><%= @contact.errors.full_messages_for(:message).first %></p>
                <% end %>
            </div>

            <div class="mb-3">
              <label class="form-label"><strong>【対応状況】</strong></label>
              <div class="form-check form-check-inline">
                <%= form.radio_button :is_active, true, class: 'form-check-input', id: 'is_active_true' %>
                <%= form.label :is_active_true, '未対応', class: 'form-check-label', for: 'is_active_true' %>
              </div>
              <div class="form-check form-check-inline">
                <%= form.radio_button :is_active, false, class: 'form-check-input', id: 'is_active_false' %>
                <%= form.label :is_active_false, '対応済', class: 'form-check-label', for: 'is_active_false' %>
              </div>
            </div>

            <div class="text-center">
              <%= form.submit "保存", class: 'btn btn-outline-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
