<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">新規登録</div>
        <div class="card-body">
          <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: "form-control" %>
                <% if resource.errors.include?(:name) %>
                  <p style="color: red;"><%= resource.errors.full_messages_for(:name).first %></p>
                <% end %>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                <% if resource.errors.include?(:email) %>
                  <p style="color: red;"><%= resource.errors.full_messages_for(:email).first %></p>
                <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if resource.errors.include?(:password) %>
                  <p style="color: red;"><%= resource.errors.full_messages_for(:password).first %></p>
                <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                <% if resource.errors.include?(:password_confirmation) %>
                  <p style="color: red;"><%= resource.errors.full_messages_for(:password_confirmation).first %></p>
                <% end %>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>