<h2>投稿一覧</h2>
<%= form_with url: public_cards_path, method: :get do |form| %>
  <%= form.select :sort_by, options_for_select([["Latest", "latest"], ["Oldest", "old"], ["High Price", "high_price"]], params[:sort_by]), prompt: "Sort by" %>
  <%= form.submit "Sort" %>
<% end %>
<div class="row">
  <% @cards.each do |card| %>
    <div class="text-center card-wrapper">
      <%= link_to public_card_path(card) do %>
        <div>
          <%= image_tag url_for(card.image), height: 120 %>
        </div>
        <div>
          <%= card.title %>
        </div>
        <div>
          ￥<%= number_with_delimiter((card.price).ceil.to_i, delimiter: ',') %>
        </div>
        <div>
          <%= card.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>