<div class="row mt-1">
  <div class="col-4">
<h2>投稿一覧</h2>
  </div>
  <div class="col-6"></div>
  <div class="col-2">
<%= form_with url: public_cards_path, method: :get do |form| %>
  <div class="form-group">
    <%= form.hidden_field :q, value: params[:q] %>
    <%= form.hidden_field :rarity_id, value: params[:rarity_id] %>
    <%= form.hidden_field :store_id, value: params[:store_id] %>
    <%= form.select :sort_by,
        options_for_select([["新しい順", "latest"], ["古い順", "old"], ["高い順", "high_price"], ["安い順", "low_price"]], params[:sort_by]),
        { prompt: "選択してください" },
        { class: "form-control", onchange: 'this.form.submit();' } %>
  </div>
<% end %>
</div>
</div>
<%= render 'public/cards/index', cards: @cards %>