<div>
  <%= link_to public_cards_path, class: 'btn btn-outline-secondary', data: { "turbolinks" => false } do %>
    <i class="fa-solid fa-left-long"></i>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-8 shadow offset-lg-2">
    <div class="row p-3" style=" font-size:24px;">
        <% if current_customer %>
            <%= render 'public/favorites/btn', card: @card %>
        <% end %>
        &emsp;<%= @card.title %>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <%= image_tag @card.image , class: "img-fluid mt-1 mb-5", style: "max-height: 400px; width: auto;" %>
      </div>
      <div class="col">
          <div class="row mb-2 border-bottom">
            <div class="col-5">価格</div>
            <div class="col">￥<%= number_with_delimiter((@card.price).ceil.to_i, delimiter: ',') %></div>
          </div>
          <div class="row mb-2 border-bottom">
            <div class="col-5">レアリティ</div>
            <div class="col"><%= @card.rarity.name %></div>
          </div>
          <div class="row mb-2 border-bottom">
            <div class="col-5">店舗</div>
            <div class="col"><%= @card.store.name %></div>
          </div>
          <div class="row mb-2 border-bottom">
            <div class="col-5">投稿日</div>
            <div class="col"><%= @card.created_at.strftime('%Y/%m/%d %H:%M') %></div>
          </div>
          <div class="row">
            <div class="col">
              <% if current_customer %>
                <%= link_to public_customer_path(@card.customer.id) ,class: "text-dark" do %>
                  <%= @card.customer.name %>
                <% end %>
              <% end %>
            </div>
            <div class="col text-right">
              <%= link_to "https://twitter.com/intent/tweet?url=
                          #{request.original_url}&text=#{@card.title}%0A価格:￥#{number_with_delimiter((@card.price).ceil.to_i, delimiter: ',')}%0Aレアリティ:#{@card.rarity.name}%0A店舗:#{@card.store.name}",
                          class: 'btn btn-outline-secondary', target: "_blank" do %>
                <i class="fa-brands fa-square-x-twitter fa-lg"></i>
              <% end %>
              <% if @card.customer == current_customer %>
                  <%= link_to edit_public_card_path(@card.id),class: "btn btn-outline-secondary",data: {"turbolinks"=>false} do %>
                    <i class="fa-solid fa-gear"></i>
                  <% end %>
              <% end %>
            </div>
          </div>
          <div class="row shadow m-1 p-1" style="height:124px">
            <%= @card.body %>
          </div>
      </div>
    </div>
  </div>
</div>

<%= link_to("https://twitter.com/intent/tweet?"+URI.encode_www_form(text:@card.title+"\n"+@card.price.to_s+"\n"+@card.rarity.name+"\n"+@card.store.name+"\n"+request.url),class: 'btn btn-outline-secondary', target: :_blank) do %>
あ
<% end %>

<% if current_customer %>
  <%= render 'public/card_comments/form', card: @card %>
<% end %>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8" id="comment_index">
      <%= render 'public/card_comments/index', card: @card %>
  </div>
  <div class="col-lg-2"></div>
</div>