<div class="row mt-1">
  <div class="col-4 card_title">
    <h2>投稿一覧</h2>
  </div>
  <div class="col-4 pr-0 card_title_sp">
    <h4>投稿一覧</h4>
  </div>
  <div class="col-4"></div>
  <div class="col-4">
    <%= form_with url: admin_cards_path, method: :get do |form| %>
      <div class="form-group">
        <%= form.hidden_field :q, value: params[:q] %>
        <%= form.hidden_field :rarity_id, value: params[:rarity_id] %>
        <%= form.hidden_field :store_id, value: params[:store_id] %>
        <%= form.select :sort_by,
        options_for_select([["新しい順", "latest"], ["古い順", "old"], ["高い順", "high_price"], ["安い順", "low_price"]], params[:sort_by]),
        { prompt: "選択してください" },
        { class: "form-control", onchange: 'this.form.submit();' } %>
      </div>
    <% end %>
  </div>
</div>

<div class="scroll-list jscroll">
  <%= render 'admin/cards/index', cards: @cards %>
  <%= paginate @cards %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js" integrity="sha512-51l8tSwY8XyM6zkByW3A0E36xeiwDpSQnvDfjBAzJAO9+O1RrEcOFYAs3yIF3EDRS/QWPqMzrl6t7ZKEJgkCgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(function() {
    var jscrollOption = {
      loadingHtml: '<i class="fa-solid fa-hourglass-start"></i>', //記事読み込み中の表示
      autoTrigger: true, // 自動で読み込むか否か、trueで自動、falseでボタンクリックとなる。
      padding: 20, // 指定したコンテンツの下かた何pxで読み込むかを指定(autoTrigger: trueの場合のみ)
      contentSelector: '.jscroll', // 読み込む範囲の指定
      nextSelector: 'span.next:last a'
    };
    //$(".jscroll").hide();
    $(".jscroll").jscroll(jscrollOption);
  });
</script>