<div class="row">
  <div class="col-lg-8 shadow offset-lg-2">
    <div class="row p-3" style=" font-size:24px;">
        &emsp;<%= @card.title %>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <%= image_tag @card.image , class: "img-fluid mt-1", style: "max-height: 400px; width: auto;" %>
      </div>
      <div class="col">
          <div class="row mb-2 border-bottom">
            <div class="col-5">価格</div>
            <div class="col">￥<%= number_with_delimiter((@card.price).ceil.to_i, delimiter: ',') %></div>
          </div>
          <div class="row mb-2 border-bottom">
            <div class="col-5">レアリティ</div>
            <div class="col"><%= @card.rarity.name %></div>
          </div>
          <div class="row mb-2 border-bottom">
            <div class="col-5">店舗</div>
            <div class="col"><%= @card.store.name %></div>
          </div>
          <div class="row mb-2 border-bottom">
            <div class="col-5">投稿日</div>
            <div class="col"><%= @card.created_at.strftime('%Y/%m/%d %H:%M') %></div>
          </div>
          <div class="row">
            <div class="col">
              <%= link_to admin_customer_path(@card.customer.id) ,class: "text-dark" do %>
                <%= @card.customer.name %>
              <% end %>
            </div>
            <div class="col text-right">
                <%= link_to edit_admin_card_path(@card.id),class: "btn btn-outline-secondary",data: {"turbolinks"=>false} do %>
                  <i class="fa-solid fa-gear"></i>
                <% end %>
            </div>
          </div>
          <div class="row shadow m-1 p-1" style="height:124px">
            <%= @card.body %>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
      <%= render 'admin/card_comments/index', card: @card %>
  </div>
  <div class="col-lg-2"></div>
</div>