<h2>投稿詳細</h2>
<div class="row">
  <!-- 商品の画像 -->
  <div class="col-md-6">
    <%= image_tag @card.image, size: "400x400", class: "img-fluid" %>
  </div>
  <!-- 商品詳細 -->
  <div class="col-md-6">
    <table class="table">
      <tr>
        <th style="width: 30%;">カード名:</th>
        <td style="width: 70%;"><%= @card.title %></td>
      </tr>
      <tr>
        <th>カード紹介:</th>
        <td><%= @card.body %></td>
      </tr>
      <tr>
        <th>価格:</th>
        <td>￥<%= number_with_delimiter((@card.price).ceil.to_i, delimiter: ',') %></td>
      </tr>
      <tr>
        <th>レアリティ:</th>
        <td><%= @card.rarity.name %></td>
      </tr>
      <tr>
        <th>店舗名:</th>
        <td><%= @card.store.name %></td>
      </tr>
      <tr>
        <th>投稿者:</th>
        <td>
          <%= link_to admin_customer_path(@card.customer.id) do %>
          <%= @card.customer.name %>
          <% end %>
        </td>
      </tr>
          <td>
          <%= link_to "Edit", edit_admin_card_path(@card.id),class: "btn btn-sm btn-success Edit" %>
          </td>
    </table>
</div>