<div class="navbar-nav ml-auto text-center">

  <div class="navbar-nav">
    <div class="nav-item">
      <% if admin_signed_in? %>
        <%= link_to admin_homes_top_path, class: 'nav-link' do %>
          <%= image_tag 'logo.png', size: '100x100' %>
        <% end %>
      <% elsif customer_signed_in? %>
        <%= link_to home_path, class: 'nav-link', data: { "turbolinks" => false } do %>
          <%= image_tag 'logo.png', size: '100x100' %>
        <% end %>
      <% else %>
        <%= link_to home_path, class: 'nav-link' do %>
          <%= image_tag 'logo.png', size: '100x100' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mt-5"></div>

  <div class="navbar-nav text-right">
    <% unless admin_signed_in? || customer_signed_in? %>
      <div class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>
          <i class="fa-regular fa-note-sticky"></i> トップ
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to new_customer_registration_path, class: 'nav-link' do %>
          <i class="fa-solid fa-user-plus"></i> 新規登録
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to new_customer_session_path, class: 'nav-link' do %>
          <i class="fa-solid fa-right-to-bracket"></i> ログイン
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to public_cards_path, class: 'nav-link' do %>
          <i class="fa-solid fa-list-ul"></i> 投稿一覧
        <% end %>
      </div>
      <!--<div class="nav-item">-->
        <!-- %= link_to about_path, class: 'nav-link' do %-->
      <!--    <i class="fa-solid fa-at"></i> About-->
        <!--% end %-->
      <!--</div>-->
    <% end %>

    <% if admin_signed_in? %>
      <div class="nav-item">
        <%= link_to admin_cards_path, class: 'nav-link' do %>
          <i class="fa-solid fa-list-ul"></i> 投稿 一覧
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to admin_customers_path, class: 'nav-link' do %>
          <i class="fa-solid fa-users"></i> ユーザー 一覧
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to admin_raritys_path, class: 'nav-link' do %>
          <i class="fa-regular fa-star"></i> レアリティ 一覧
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to admin_stores_path, class: 'nav-link' do %>
          <i class="fa-solid fa-shop"></i> 店舗 一覧
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to admin_talk_rooms_path, class: 'nav-link' do %>
          <i class="fa-regular fa-message"></i> トーク 一覧
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to admin_contacts_path, class: 'nav-link' do %>
          <i class="fa-solid fa-square-envelope"></i> お問い合わせ
          <% contact_total = @contacts.where(is_active: true).count %>
          <% if contact_total > 0 %>
            <span class="badge badge-danger"><%= contact_total %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if customer_signed_in? %>
      <div class="nav-item">
        <%= link_to new_public_card_path, class: 'nav-link', data: { "turbolinks" => false } do %>
          <i class="fa-solid fa-up-right-from-square"></i> 新規投稿
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to public_cards_path, class: 'nav-link', data: { "turbolinks" => false } do %>
          <i class="fa-solid fa-list-ul"></i> 投稿 一覧
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to public_customer_path(current_customer), class: 'nav-link', data: { "turbolinks" => false } do %>
          <i class="fa-regular fa-user"></i> プロフィール
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to public_talk_rooms_path, class: 'nav-link' do %>
          <i class="fa-regular fa-message"></i> トーク 一覧
          <% total_unread_count = 0 %>
          <% @talk_rooms.each do |talk_room| %>
            <% total_unread_count += talk_room.unread_messages_count(current_customer) %>
          <% end %>
          <% if total_unread_count > 0 %>
            <span class="badge badge-danger"><%= total_unread_count %></span>
          <% end %>
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to public_contacts_path, class: 'nav-link' do %>
          <i class="fa-solid fa-square-envelope"></i> お問い合わせ
        <% end %>
      </div>
    <% end %>
  </div>

<div class="mt-5"></div>

  <div>
  <!-- ログアウトリンクを追加 -->
    <% if admin_signed_in? %>
      <!-- 管理者ログイン時のログアウト -->
      <div class="navbar-nav text-right">
        <div class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
            <i class="fa-solid fa-right-from-bracket"></i> ログアウト
          <% end %>
        </div>
      </div>
    <% end %>

    <% if customer_signed_in? %>
      <!-- 顧客ログイン時のログアウト -->
      <div class="navbar-nav text-right">
        <div class="nav-item">
          <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link' do %>
            <i class="fa-solid fa-right-from-bracket"></i> ログアウト
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless admin_signed_in? || customer_signed_in? %>
      <div class="navbar-nav text-right">
        <%= link_to new_admin_session_path, class: 'nav-link' do %>
          <i class="fa-solid fa-user-gear  fa-right-from-bracket"></i>管理者
        <% end %>
      </div>
    <% end %>

  </div>
</div>




<style>
  .navbar-nav .nav-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease;
  }

  .navbar-nav .nav-item:hover {
    background-color: #696969; /* マウスオーバー時の背景色 */
  }

  .navbar-nav .nav-link {
    color: #ffffff; /* テキストの色 */
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-link:hover {
    color: #007bff; /* マウスオーバー時のテキスト色 */
  }

  .nav-link{
    font-size: 14px;
  }
</style>
