<!DOCTYPE html>
<html>
  <head>
    <title>Outlook TCG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8b6488317f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<link rel="stylesheet" href="/assets/app.css">-->
    <%= stylesheet_link_tag 'app' %>
  </head>

<div class="container-fluid">
  <div class="row">
    <!-- Left Sidebar -->
    <div class="col-lg-1 d-none d-lg-block position-fixed" style="background-color: #A9A9A9; height: 100vh;">
      <%= render 'layouts/leftsidebar' %>
    </div>
    <!-- Right Sidebar -->
    <div class="col-lg-2 d-none d-lg-block position-fixed" style="background-color: #A9A9A9; right: 0; height: 100vh;">
      <%= render 'layouts/rightsidebar' %>
    </div>
    <!-- Content -->
    <div class="col-lg-9 offset-lg-1" style="background-color: #DCDCDC; min-height: 100vh;">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <!-- Footer for Small Screens -->
  <div class="row d-lg-none position-sticky fixed-bottom" style="width: auto; bottom: 0; margin-bottom: -50px; z-index: 10;">
    <div class="col-12" style="background-color: #87CEEB;">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
</html>
